//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$primary: #e20f2a;

$primary-color-2: #f0f0f0;
$primary-color-3: #c6c6c6;
$primary-color-4: #8f8f8f;
$primary-color-5: #e4e4e4;
$primary-color-6: #b4d9cf;

$primary-color-1: #48a7fa;
